<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="de.hechler.patrick.code.simple.ecl.simpleCodeBuilder"
         name="Simple Code Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.hechler.patrick.code.simple.ecl.builder.SimpleCodeBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="de.hechler.patrick.code.simple.ecl.project.nature"
         name="Simple Code Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.hechler.patrick.code.simple.ecl.builder.SimpleCodeNature">
         </run>
      </runtime>
      <builder
            id="de.hechler.patrick.code.simple.ecl.project.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.hechler.patrick.code.simple.ecl.project.nature.category"
            name="Simple Cpde Project Nature commands">
      </category>
      <command
            categoryId="de.hechler.patrick.code.simple.ecl.project.nature.category"
            defaultHandler="de.hechler.patrick.code.simple.ecl.builder.AddRemoveSimpleCodeNatureHandler"
            id="de.hechler.patrick.code.simple.ecl.addRemoveSimpleCodeNature"
            name="Add/RemoveSimple Cpde Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               label="Disable Simple Code builder"
               commandId="de.hechler.patrick.code.simple.ecl.addRemoveSimpleCodeNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="de.hechler.patrick.code.simple.ecl.project.nature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               label="Enable Simple Code builder"
               commandId="de.hechler.patrick.code.simple.ecl.addRemoveSimpleCodeNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="de.hechler.patrick.code.simple.ecl.project.nature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="de.hechler.patrick.code.simple.ecl.editor.ssf"
            name="de.hechler.patrick.code.simple.ecl.editor.ssf"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="ssf">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="de.hechler.patrick.code.simple.ecl.editor.ssf"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="de.hechler.patrick.code.simple.ecl.editor.SsfPresentationReconciler"
            contentType="de.hechler.patrick.code.simple.ecl.editor.ssf">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="de.hechler.patrick.code.simple.ecl.editor.SsfHoverProvider"
            contentType="de.hechler.patrick.code.simple.ecl.editor.ssf">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="de.hechler.patrick.code.simple.ecl.editor.SsfContentAssistProcessor"
            contentType="de.hechler.patrick.code.simple.ecl.editor.ssf">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="de.hechler.patrick.code.simple.ecl.editor.SsfAutoEditStrategy"
            contentType="de.hechler.patrick.code.simple.ecl.editor.ssf">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="de.hechler.patrick.code.simple.ecl.editor.SsfReconciler"
            contentType="de.hechler.patrick.code.simple.ecl.editor.ssf">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="de.hechler.patrick.code.simple.ecl.editor.ValidatorDocumentSetupParticipant"
            contentTypeId="de.hechler.patrick.code.simple.ecl.editor.ssf"
            extensions="ssf">
      </participant>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.hechler.patrick.code.simple.ecl.wizards.imports.simpleCodeCategory"
            name="Simple Code File Import">
      </category>
      <wizard
            id="de.hechler.patrick.code.simple.ecl.wizards.imports.SimpleCodeImportWizard"
            name="Import Simple Code File"
            class="de.hechler.patrick.code.simple.ecl.wizards.imports.SimpleCodeImportWizard"
            category="de.hechler.patrick.code.simple.ecl.wizards.imports.simpleCodeCategory"
            icon="icons/sample.png">
         <description>
            Import a Simple-Code file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Simple Code Wizards"
            id="de.hechler.patrick.code.simple.ecl.wizards.create">
      </category>
      <wizard
            id="de.hechler.patrick.code.simple.ecl.wizards.create.SimpleCodeNewWizard"
            name="Simple Code file Editor"
            icon="icons/sample.png"
            class="de.hechler.patrick.code.simple.ecl.wizards.create.SimpleCodeNewWizard"
            category="de.hechler.patrick.code.simple.ecl.wizards.create">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="de.hechler.patrick.code.simple.ecl.properties.simpleCodePropertyPage"
            name="Simple Code Page"
            class="de.hechler.patrick.code.simple.ecl.properties.SimpleCodePropertyPage"
            nameFilter="*.*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
